<div class="post-list row" *ngIf="posts.length">
  <div class="post col-md-8 col-12" *ngFor="let post of posts">
    <div>
      <p>Текст: {{ post.text }}</p>
      <p>Приложение: {{ post.appLinkId }}</p>
      <p>Время: {{ post.publish_date | date:'y, MM, dd : HH:mm:ss' }}</p>
    </div>
    <div>
      <div class="row images-list" *ngFor="let image of post.images">
        <div class="col-md-5 col-12">
            <img src="/images/{{image.file}}" class="img-fluid" alt="">
        </div>
        <div class="image-info col-md-7 col-12">
            <p>Категория: {{ image.category.name }}</p>
            <p>Теги: ( {{ image.category.tags }} ) {{ image.tags }}</p>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary" routerLink="../edit/{{post.id}}">Редактировать</button>
      <button type="button" class="btn btn-danger" (click)="delete(post.id);">Удалить</button>
    </div>
  </div>
</div>