<div class="img-item row">
  <div class="col-3">
    <p>File name: {{file.fileName}}</p>
    <img src="{{file.src}}" alt="" class="img-fluid">
  </div>
  <div class="col-5 mr-auto">
    <div *ngIf="!inOne.inOne">
      <label>Выберите категорию</label>
      <select class="form-control" (change)="onSelect(category.value)" #category>
        <option selected disabled>Choose category</option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
    </div>
    <div>
      <tag-input [(ngModel)]="tags" [separatorKeys]="[' ']" (onAdd)="onTagChange()" (onRemove)="onTagChange()"></tag-input>
    </div>
  </div>
</div>