<div class="container-fluid row form-block">
    <div class="offset-1 col-6 mr-auto">
      <form (submit)="onAdd($event)">
        <div class="form-group">
            <label>VK id администратора</label>
            <input type="text" [(ngModel)]="vkid" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="VK id администратора">
        </div>
        <button type="submit" class="btn btn-primary">Добавить Администратора</button>
        <app-alert-div [state]="state"></app-alert-div>
      </form>

      <div *ngIf="admins.length" class="admins-list">
        <div class="admin-item" *ngFor="let admin of admins">
          VK id: {{admin.vkid}}
          <button class="btn btn-danger" (click)="onDelete(admin.id);">X</button>
        </div>
      </div>

    </div>
</div>