<div class="img-item row">
  <div class="col-md-3 col-12">
    <img src="/images/{{image.file}}" class="img-fluid" alt="">
  </div>
  <div class="col-md-7 col-12">
    <label>Категория</label>
    <select class="form-control" [(ngModel)]="image.category_id" (change)="onChangeCategoty($event);">
      <option selected disabled>Choose category</option>
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>
    <div>
      <tag-input [(ngModel)]="image.tags" [separatorKeyCodes]="[13, 32]"></tag-input>
    </div>
  </div>
</div>