.setup {
    font-size: 1.6em;
    padding: 0.7%;
    width: max-content;
}

a {
    font-size: 1.6em;
    padding: 10px;
}

a:last-of-type {
    margin-left: 13px; 
}

.vktoken {
    padding: 10px;
}

.vktoken input {
    
}