<!-- <a class="btn btn-primary btn-lg active" href="{{authLinks.vk}}">VK</a> -->
<a class="btn btn-primary btn-lg active" href="{{authLinks.ok}}">OK</a>
<a class="btn btn-primary btn-lg active" href="{{authLinks.fb}}">FaceBook</a>

<br>
<br>

<button type="button" class="btn btn-primary btn-lg" (click)="setup();">Инициализировать альбомы</button>
<div class="alerts">
    <div *ngIf="state==1">
        Загрузка...
      </div>
      <div *ngIf="state==2" class="alert alert-success" role="alert">
        Загружено
      </div>
      <div *ngIf="state==3" class="alert alert-danger" role="alert">
        Ошибка
      </div>
</div>