.setup {
    font-size: 1.6em;
    padding: 1%;
    width: max-content;
}

div:first-of-type {
    margin-bottom: 40px;
}

a {
    font-size: 1.6em;
    padding: 10px;
}

a:last-of-type {
    margin-left: 10px; 
}

@media screen and (max-width: 400px) {

    .setup {
        font-size: 1.2em;
        padding: 3%;
    }
    
    a {
        font-size: 1.2em;
    }
}