<div class="container-fluid row form-block">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Имя категории</label>
            <input type="text" [(ngModel)]="addName" class="form-control" placeholder="Имя категории">
        </div>
        <div class="form-group">
            <label>Теги категории</label>
            <tag-input [(ngModel)]="tags" [separatorKeyCodes]="[13, 32]"></tag-input>
        </div>
        <button type="submit" (click)="onAdd()" class="btn btn-primary">Добавить Категорию</button>
        <app-alert-div [state]="addState"></app-alert-div>
    </div>
</div>

<div class="container-fluid row form-block">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>Выберите категорию</label>
            <select class="form-control" (change)="onSelect(categ.value)" #categ>
                <option selected disabled>Выберите категорию</option>
                <option *ngFor="let category of categories">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Имя категории</label>
            <input type="text" [(ngModel)]="selected.name" class="form-control" placeholder="Имя категории">
        </div>
        <div class="form-group tags">
            <label>Теги категории</label>
            <tag-input [(ngModel)]="selected.tags" [separatorKeyCodes]="[13, 32]"></tag-input>
        </div>
        <button type="button" (click)="onUpdata()" class="btn btn-primary">Обновить категорию</button>
        <!-- <button type="button" (click)="onDelete()" class="btn btn-danger">Удалить категорию</button> -->
        <app-alert-div [state]="updState"></app-alert-div>
    </div>
</div>