.form-block {
    margin-bottom: 2%;
    color: white;

    /* background: transparent;
    border: none; */
}

.form-block label{
    font-size: 1.7em;
}

.form-block:first-child {
    margin-top: 2%;
}

.form-block:last-child {
    margin-bottom: 0;
}