.form-block {
    margin-bottom: 2%;
}

.form-block:first-child {
    margin-top: 2%;
}

.form-block:last-child {
    margin-bottom: 0;
}

.btn.btn-danger {
    margin-left: 1%;
}

.alerts {
    padding-top: 15px;
}