.nav-item {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 1% 1% 1% 0;
}

.child-outlet {
    padding-top: 50px;
}

.fb_name {
    font-size: 3rem;
    margin-top: 25px;
}

@media screen and (max-width: 400px) {

    .nav-item {
        display: block;
        width: 100%;
        font-size: 25px;
        padding: 1% 1% 1% 0;
    }
}