<div *ngIf="!isAuth">
  <a class="btn btn-primary btn-lg active" href="{{links?.vk}}">VK</a>
</div>

<div *ngIf="isAuth">
  <nav class="nav nav-pills">
    <a href="{{authLinks?.fb}}"><img src="../../assets/fb-logo.png" width="300" alt="fb"></a>
    <!-- <a class="nav-item" routerLink="setup">Начальная настройка</a> -->
    <a class="nav-item" routerLink="addCategoty">Create album</a><br>
    <!-- <a class="nav-item" routerLink="addImages">Добавить изображения</a> -->
    <!-- <a class="nav-item" routerLink="posts">Посты</a> -->
  </nav>
</div>