<div *ngIf="!isAuth">
  <a href="https://oauth.vk.com/authorize?client_id=6753227&display=page&redirect_uri=http://localhost:3000/auth/login&scope=friends,notify,photos,audio,video,stories,pages,notes,status,wall,ads,offline,docs,groups,notifications,stats,email,market&response_type=code&v=5.92">VK</a>
</div>

<div *ngIf="isAuth">
  <nav class="nav nav-pills">
    <a class="nav-item" routerLink="addAdmin">Add Admin</a>
    <a class="nav-item" routerLink="addCategoty">Add Category</a>
    <a class="nav-item" routerLink="addImages">Add Images</a>
  </nav>
</div>