/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
    background-color: #141d24;
    padding: 30px;
}

tag-input input {
    background: transparent;
    border: none;
    color: white
}

body {
    color: white;
}

label{
    font-size: 1.7em;
}

.nav-item {
    color: #f8ffff;
}

.nav-item:hover {
    text-decoration: none;
}

button[class="owl-dt-control-button owl-dt-control-arrow-button"] {
    color: black;
}

@media screen and (max-width: 400px) {

    body {
        padding: 15px 15px 100px 15px;;
    }
}