/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
    background-color: #141d24;
    padding: 30px;
}

tag-input input {
    background: transparent;
    border: none;
    color: white
}

body {
    color: white;
}

label{
    font-size: 1.7em;
}

.nav-item {
    color: #f8ffff;
}

.nav-item:hover {
    text-decoration: none;
}

div.dl-abdtp-date-button[role="gridcell"] {
    color: white;
}