.row {
    width: 100%;
    margin: 0;
}

.navbar-nav {
    flex-direction: column;
}

.navbar-toggler {
    color: white;
}

.tags {
    display: block;
    background-color: darkgrey;
    text-align: center;
}


.categ-list {
    
    font-size: 17px;
    padding: 0;
    color: white;
}

.categ-list > ul {
    list-style: none;
    padding: 0;
}

.categ-list-item {
    padding-bottom: 15px;
    transition: 0.3s;
    font-weight: 600;
    cursor: pointer;
}

.categ-list-item:last-child {
    padding-bottom: 0;
}


.img-item {
    display: inline-block;
    margin-bottom: 2%;
    margin-right: 2%;
}

.menu-item {
    display: none;
    position: relative;
}

#dropDownMenu {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    opacity: 0;
    height: 100%;
    margin: 0;
}

#dropDownMenu > select {
    height: 100%;
}

.categ-btn {
    z-index: 1;
    position: relative;
}


@media (max-width: 768px) {

    .menu-item {
        display: block;
        width: 100%;
    } 

    .categ-list {
        display: none;
    }
}

