<div class="home row">
  <div class="col-md-2 col-sm-12 col-12">
    <div *ngIf="categories.length">

        <div class="categ-list">
          <ul>
            <li class="categ-list-item" *ngFor="let category of categories" (click)="selectCategory(category.id)">
                {{category.name}}
            </li>
          </ul>
        </div>
        <div class="categ-btn"><button class="btn btn-primary btn-lg btn-block" (click)="show = !show">Категории</button></div>
        <div class="form-group" id="dowpMenu" [style.display]="show ? 'block' : 'none'">
            <select class="form-control" size="4" (change)="selectCategory(category.value)" #category>
              <option value="{{category.id}}" *ngFor="let category of categories">
                    {{category.name}}
              </option>
            </select>
        </div>

    </div>
  </div>
  <div class="col-md-10 col-sm-12 col-12">
      <div class="row">
        <div class="img-item col-md-4 col-sm-6" *ngFor="let image of images">
            <img class="img-fluid" src="{{image.minimizeUrl}}" alt="">
            <span class="tags">{{image.tags.join(" ")}}</span>
            <span class="tags"><a href="{{image.url}}" download="">Download</a></span>
        </div>
      </div>
  </div>
</div>
  <!-- <div class="col-md-10 col-10"></div> -->
<!-- </div> -->
    <!-- <ul class="categ-list">
      <li class="categ-list-item" *ngFor="let category of categories" (click)="selectCategory(category)">
        {{category.name}}
      </li>
    </ul> -->

  <!-- <div class="col-md-10 col-10">
    <div class="img-item" *ngFor="let image of images">
      <img class="img-fluid" src="{{image.minimizeUrl}}" alt="">
      <span class="tags">{{image.tags.join(" ")}}</span>
      <span class="tags"><a href="{{image.url}}" download="">Download</a></span>
    </div>
  </div> -->

<!-- <div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">PR<i class="fa fa-circle"></i>GER</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li *ngFor="let category of categories" (click)="selectCategory(category)">
        {{category.name}}
      </li>
    </ul>
  </div>
</div> -->