<div class="row home">
  <div *ngIf="categories.length" class="col-md-2 col-2">
    <ul class="categ-list">
      <li class="categ-list-item" *ngFor="let category of categories" (click)="selectCategory(category)">
        {{category.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-10 col-10">
    <div class="img-item" *ngFor="let image of images">
      <img class="img-fluid" src="{{image.minimizeUrl}}" alt="">
      <span class="tags">{{image.tags.join(" ")}}</span>
      <span class="tags"><a href="{{image.url}}" download="">Download</a></span>
    </div>
  </div>
</div>
