.row {
    width: 100%;
    margin: 0;
}

#dowpMenu {
    display: none;
}

.navbar-nav {
    flex-direction: column;
}

.navbar-toggler {
    color: white;
}

.tags {
    display: block;
    background-color: darkgrey;
    text-align: center;
}

.categ-btn {
    display: none;
    margin-bottom: 10px;
}

.categ-list {
    
    font-size: 17px;
    padding: 0;
    color: white;
}

.categ-list > ul {
    list-style: none;
    padding: 0;
}

.categ-list-item {
    padding-bottom: 15px;
    transition: 0.3s;
    font-weight: 600;
    cursor: pointer;
}

.categ-list-item:last-child {
    padding-bottom: 0;
}


.img-item {
    display: inline-block;
    margin-bottom: 2%;
    margin-right: 2%;
}

@media (max-width: 768px) {

    .categ-btn, #dowpMenu {
        display: block;
        width: 100%;
    } 

    .categ-list {
        display: none;
    }
}

