<div class="container-fluid">
  <div class="main-form row">
      <div class="col-md-4 col-12">
        <form id="mainform" enctype="application/x-www-form-urlencoded" (submit)="onSubmit($event, form)" #form>
          <div class="form-group">
            <label for="comment">Текст</label>
            <textarea class="form-control" rows="10" name="text"></textarea>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="inOne" [ngModelOptions]="{standalone: true}">
                Загрузить всё в одну категорию ?
            </label>
          </div>
          <div class="form-group" *ngIf="inOne">
            <label>Выберите категорию</label>
            <select class="form-control" required [(ngModel)]="oneCategory" [ngModelOptions]="{standalone: true}">
              <option selected disabled>Выберите категорию</option>
              <option *ngFor="let category of categories">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="file" class="form-control-file" multiple="multiple" name="images" accept="image/*" (change)="onChange(inputFiles)" #inputFiles required>
          </div>
        </form>

        <div class="date-picker">
          <owl-date-time-inline stepMinute="30" [(ngModel)]="selectedDate"></owl-date-time-inline>
          <br>
          <br>
          <h5>Date: {{selectedDate}}</h5>
        </div>

      </div>
  </div>
    
  <div>
    <div *ngFor="let file of imagesList" class="row">
      <app-image-item class="col-md-8 col-12" [inOne]="{inOne: inOne, category: oneCategory}" [categories]="categories" [file]="file" (selected)="onImgSelect($event)"></app-image-item>
    </div>
  </div>

  <div class="main-form row">
    <div class="form-group" class="col-md-4 col-12">
      <label>Выберите приложение</label>
      <select class="form-control" form="mainform" name="appLinkId">
        <option selected value="0">Full HD Обои для телефона</option>
        <option value="1">Авто обои Full HD Машины</option>
        <option value="2">Super Amoled - Обои Full HD энергосберегающие</option>
      </select>
    </div>
    <button type="submit" form="mainform" class="btn btn-primary btn-lg">ОТПРАВИТЬ</button>
  </div>

  <app-alert-div [state]="state"></app-alert-div>

</div>