:host {
    display: block;
    padding-left: 1%;
}

.main-form {
    padding: 10px 10px 10px 0;
}

input[type="checkbox"] {
    margin-top: 15px;
}

button[type="submit"] {
    margin-bottom: 20px;
}

div[role="alert"] {
    margin-bottom: 0;
}

.date-picker {
    padding-bottom: 2%;
    width: 50%;
}