<div class="container-fluid">
  <div class="main-form row">
      <div class="col-6">
        <form enctype="application/x-www-form-urlencoded" (submit)="onSubmit($event, form)" #form>
          <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="inOne" [ngModelOptions]="{standalone: true}">
                  Загрузить всё в одну категорию ?
              </label>
          </div>
          <div class="form-group" *ngIf="inOne">
            <label>Выберите категорию</label>
            <select class="form-control" [(ngModel)]="oneCategory" [ngModelOptions]="{standalone: true}">
              <option selected disabled>Выберите категорию</option>
              <option *ngFor="let category of categories">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="file" class="form-control-file" multiple name="images" (change)="onChange(inputFiles)" #inputFiles required>
          </div>
          <div class="date-picker">
            <dl-date-time-picker
            startView="day"
            maxView="year"
            minView="minute"
            minuteStep="30"
            [(ngModel)]="selectedDate"
            [ngModelOptions]="{standalone: true}"
          >
          </dl-date-time-picker>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">ОТПРАВИТЬ</button>

          <app-alert-div [state]="state"></app-alert-div>
          
        </form>
      </div>
  </div>
    
  <div>
    <div *ngFor="let file of imagesList" class="row">
      <app-image-item class="col-8" [inOne]="{inOne: inOne, category: oneCategory}" [categories]="categories" [file]="file" (selected)="onImgSelect($event)"></app-image-item>
    </div>
  </div>
</div>